.banner-home {
  position: relative;
  background-image: url("img/banner.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; White text */
  overflow: hidden;
}

.hero-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  /* width: 120%; */
  /* width: 100%; */
  /* height: 100vh; */
  text-align: center;
  /* margin: 200px 0 50px 0; */
  padding: 250px 100px 220px 100px;
  /* background-color: #ff9d00; */
}

.hero-text h4 {
  margin-bottom: 20px;
  color: black;
}

.hero-text h1 {
  font-size: 6rem;
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text button {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  color: white;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 40px 6px 40px;
  background-color: #ff9d00;
  cursor: pointer;
  transition: all 0.5s;
}

.hero-text button:hover {
  background-color: #ff8300;
  font-size: 1.25rem;
  font-weight: 500;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
}

.hero-info {
  width: 90%;
  text-align: left;
}

.hero-info .loan-calc-box {
  border-radius: 15px;
  border: 2px solid #ccc;
  padding: 2rem 2rem;
  margin-bottom: 50px;
}

.hero-info .loan-calc-box h4 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.loan-topper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.loan-topper button {
  background-color: black;
  color: white;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 55px;
  transition: all 0.5s;
  cursor: pointer;
}

.loan-topper button:hover {
  background-color: #ff9d00;
}

.hero-info .loan-calc-box label {
  font-size: 1rem;
  color: black;
}

.hero-info .loan-calc-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.hero-info .loan-calc-box select {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.hero-info .loan-calc-box select option {
  padding: 10px 0;
}

.input-section1,
.input-section2 {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.input-section1 label {
  font-weight: 600;
}

.result-section {
  margin-top: 40px;
}

.result-section .result-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.repay-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 250px;
}

.repay-detail1,
.repay-detail2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.repay-details span {
  font-size: 3rem;
  font-weight: 600;
  color: black;
}

/* Responsive Styles for 1200px, 900px, 700px, and 500px Breakpoints */

@media (max-width: 1200px) {
  /* Styles for 1200px and below */
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-text {
    padding: 200px 50px 200px 50px;
  }

  .hero-text h1 {
    font-size: 5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-info {
    width: 100%;
    padding: 20px;
  }

  .loan-topper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .repay-details {
    flex-direction: column;
    gap: 20px;
  }

  .input-section1 {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  /* Styles for 900px and below */
  .hero-container {
    padding: 0;
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    padding: 160px 30px 160px 30px;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-info {
    padding: 15px;
  }

  .loan-calc-box {
    padding: 1.5rem;
  }

  .loan-topper {
    flex-direction: column;
    gap: 8px;
  }

  .repay-details {
    flex-direction: column;
    gap: 18px;
  }

  .input-section1 {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 700px) {
  /* Styles for 700px and below */
  .hero-container {
    padding: 0;
  }

  .hero-text {
    padding: 130px 15px 130px 15px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 0.95rem;
  }

  .hero-info {
    padding: 10px;
  }

  .loan-calc-box {
    padding: 1rem;
  }

  .loan-topper {
    flex-direction: column;
    gap: 5px;
  }

  .repay-details {
    flex-direction: column;
    gap: 15px;
  }

  .input-section1 {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  /* Styles for 500px and below */
  .hero-container {
    padding: 0;
    margin-top: 100px;
  }

  .hero-text {
    padding: 110px 15px 110px 15px;
    /* margin-bottom: 50px; */
  }

  .hero-text h4 {
    font-size: 1rem;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-info {
    padding: 5px;
  }

  .loan-calc-box {
    padding: 0.8rem;
  }

  .loan-topper {
    flex-direction: column;
    gap: 3px;
  }

  .repay-details {
    flex-direction: column;
    gap: 12px;
  }

  .input-section1 {
    flex-direction: column;
    gap: 8px;
  }

  .repay-details span {
    font-size: 1.8rem;
  }
}
